@media (max-width: 400px) {
  .light-container {
    gap: 1rem;
  }
}
@media (max-width: 950px) and (orientation: landscape) {
  .countdown {
    font-size: clamp(1.5rem, calc(1.5rem + 1vw), 2rem);
  }
  footer section {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .time-remaining {
    margin: 0;
    width: 20px;
    height: 20px;
    font-size: clamp(0.7rem, calc(1vw + 0.6rem), 0.8rem);
  }
  footer section h2 {
    font-size: clamp(0.7rem, calc(0.7rem + 1vw), 0.9rem);
  }
  footer section p {
    font-size: clamp(0.7rem, calc(0.7rem + 1vw), 0.9rem);
  }
  .timer-need {
    margin: 0;
  }
}